<!DOCTYPE html>
<html>
    <head>
        <% include ./head.ejs %>
    </head>
    <body>
        <% include ./header.ejs %>
        <%- body %>
        <!-- <$- include data.view %> -->
        <% include ./footer.ejs %>
        <!-- Bootstrap core JavaScript -->
        <script src="../wwwroot/js/jquery.min.js"></script>
        <script src="../wwwroot/js/bootstrap.bundle.min.js"></script>
    </body>
</html>